<!doctype html>
<html lang="en">

<!-- empezando header -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../resources/css/estilo_privado.css">

  <title>MUNEG</title>
</head>

<!-- empezando body -->

<body>

  <!-- Header Privado -->
  <header>
    <nav class="navbar fixed-top navbar-light " id="navcolor">
      <div class="container-fluid">

        <div id="con">
          <a class="navbar-brand" href="#"><img src="../img/logo.png" id="imgnav" usemap="#home"></a>
          <!-- Mapeando la imagen -->
          <map name="home">
            <area shape="rect" coords="0,0,311,98" href="pagina_principal.html">
          </map>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span><img src="../img/menu_30px.png"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <!-- Opciones del menu, privada -->
          <div class="offcanvas-body" id="fondo">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" href="gestion_propiedad.html"><img src="../img/rent_30px.png">Gestion Propiedad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_propietario.html"><img src="../img/person_30px.png">Gestion
                  Propietario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_inquilino.html"><img src="../img/person_30px.png">Gestion
                  Inquilino</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_empleado.html"><img src="../img/person_30px.png">Gestion Empleado</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_usuario.html"><img src="../img/person_30px.png">Gestion Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_contrato.html"><img src="../img/contract_30px.png">Gestion
                  Contrato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_factura.html"><img src="../img/bill_30px.png">Gestion Factura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gestion_reportes.html"><img src="../img/system_report_30px.png">Gestion
                  Reportes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- imagen de Bienvenida -->
  <div id="welcomeContainer " class="container-fluid">
    <div  style="width: 100%; height: 900px; background-color: red;">
      <img src="../img/pagina_principal/principalHouse.jpeg" alt="principal house image" width="100%" height="100%">
      <p class="centrado welcomeText">Bienvenido a <br> <b> MUNEG </b> </p>
    </div>
  </div>

  <div class="principalContainer">
    <!-- ultimo reporte -->
    <div>
      <h2 class="titleInformation">ULTIMO REPORTE</h2>

      <!-- contenedor de reporte -->
      <div class="row justify-content-center containerInformation" id="container_pag_principal" style="width: 75%;">
        <!-- contenedor de imagen -->
        <div class="col-4 informationContainers image">
          <img src="../img/pagina_principal/casaVendida.jpeg" alt="principal house image" width="150%" height="150%">
        </div>
        <!-- contenedor de informacion -->
        <div class="col-4 informationContainers detailsContainer">
          <h3>Parque Los Chorros, CA 1W, San Salvador</h3>
          <h3>Hecho por</h3>
          <p>JOSE ALBERTO ROSALES GOMEZ</p>
          <h3>Motivo</h3>
          <p>Daño de propiedad</p>
          <h3>Descripcion</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt fuga quisquam ut, nesciunt amet praesentium
            sint commodi doloribus, molestias, distinctio unde deleniti vel porro numquam necessitatibus corporis
            deserunt voluptas quo.</p>
        </div>
      </div>

    </div>

    <!-- ultima casa vendida -->
    <div>
      <h2 class="titleInformation">ULTIMA CASA VENDIDA</h2>

      <!-- contenedor de casa vendida -->
      <div class="row justify-content-center containerInformation" id="container_pag_principal" style="width: 75%;">
        <!-- contenedor de imagen -->
        <div class="col-4 informationContainers">
          <img src="../img/pagina_principal/casaVendida.jpeg" alt="principal house image" width="150%" height="150%">
        </div>
        <!-- contenedor de informacion -->
        <div class="col-4 informationContainers detailsContainer" style="max-width: 100%;">
          <h3>Calle al volcan km 16, Santa Tecla</h3>
          <p>3 Habitaciones | 2 baños | 3 cocheras</p>
          <h3>Vendido por</h3>
          <p>GUILLERMO ALEJANDRO PANAMENO LOPEZ</p>
          <h3>Vendido a</h3>
          <p>WILLIAM ALBERTO RIVAS GOMEZ</p>
          <h3>Ubicacion</h3>
          <p>Calle al volcan, Santa Tecla</p>
          <h3>Fecha de venta</h3>
          <p>29/03/2022</p>
          <h3>Precio</h3>
          <p>$20,0000</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-white  pt-5 pb-4" id="Segundofooter">
    <div class="container-fluid">

    </div>
</footer>


  <!-- JavaScript de Boostrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>