#navcolor {
    background-color: #2698A2;
}

/*Colores de fondo para los footers*/
#Primerfooter {
    background-color: #1D4347;
    margin-top: 50px;
}

#Segundofooter {
    background-color: #2698A2;
}

/*Tamaño de los logoso de el navegador*/
#imgnav {
    height: 60px;

}

#carouselExampleIndicators{
    margin-top: 75px;
}

#principalContainer{
    margin-top: 50px;
}

#cotones {
    display: flex;
    align-items: center;
}

#celimg {
    height: 20px;

}

/*Colores de los menus desplegables*/
#menu1 a {
    color: aliceblue;
}

#menu1 ul a {
    color: #2698A2;
}

/*Texto contactenos*/
#contactenos {
    color: #A1A39F;
    font-size: 20px;
}

#contactenos_footer {
    color: #2BCBD9;
    font-size: 25px;
}

/*Texto del encabezado segundo footer*/
#container_propiedades{
    margin-top: 50px;
}

/*Texto del encabezado segundo footer*/
#Encabezado_footer {
    color: #1D4347;
}

/*Texto de los enlaces segundo footer*/
#enlaces_footer {
    color: white;
    text-decoration: none;
}

/*Boton enviar en Segundo footer*/
#Segundofooter .btn {
    background-color: #A6D1D8;
    margin-top: 20px;
}

#le {
    text-align: center;
    display: flex;
    font-size: 10px;
}

/*Fondo de la pagina*/
#fondo {
    background-color: #E2E2E2;
}


/* pagina publica "detalleInmueble"  */

#housePrincipalImage {
    margin: 5%;
    margin-right: 1%;
    margin-left: 10%;
}

#houseDescriptionsContainer {
    margin-top: 1%;
    width: 100%;
}

#priceText {
    margin-top: 3%;
}

#buttonBuyNow {
    margin-top: 2.5%;
    width: 20%;
    height: 20%;
}

.carrouselContainer {
    width: 20%;
    height: 20%;
}

.cardDescription {
    background-color: #389ca4;
}


.flexContainer {
    display: flex;
    justify-content: space-around;
}

/*Adriana Lucila*/
#con a {
    color: #A1A39F;
    font-size: 17px;
}

#fondo {
    background-color: #E2E2E2;
}


.bgTerm {
    background-image: url(../img/casa.jpg);
    padding-bottom: 150px;
}

#tituloTerm {
    padding-top: 180px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 70px;
}

#partesTerm {
    padding-top: 40px;
}

.textterm {
    text-align: justify;
}

.faqtext {
    color: #018080;
    font-size: 25px;
    padding-top: 25px;
}

.textcel {
    color: #018080;
}

.containervalores {
    height: auto;
    color: black;
    align-items: center;
    background-color: #94D2CC;
    text-align: center;
}

.card {
    height: 300px;
    max-width: 100%;
    margin: 2px;
    background: white;
    border-radius: 50px;
    border-color: #A1A39F;
    align-items: center;
    padding-top: 4%;
}

.card .img {
    height: 90%;
    width: 90%;
    align-items: center;
}

.card .imgval {
    height: 80%;
    width: 80%;
    align-items: center;
}

.containerfaq {
    background-color: #018080;
    height: auto;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.btnfaq {
    background-color: white;
    text-decoration: none;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    border-color: blue;
}

.btnfaq a {
    color: black;
    font-style: bold;
    font-size: 30px;
    text-decoration: none;
}

.containeralq {
    background-color: gray;
    height: auto;
    width: 100%;
    margin-top: 75px;
    text-align: center;
    color: white;
    padding: 1%;
}

.textalq {
    text-align: center;
}

.containeralqdos {
    background-color: #018080;
    padding: 7%;
    text-align: justify;
    color: white;
}

.containeralqtres {
    background-color: #018080;
    padding: 1%;
    text-align: justify;
    color: white;
}

#imgvision {
    width: 100%;
}

.textalqdos {
    text-align: center;
    padding: 2%;
}

.containertres {
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}

.containerhow {
    height: auto;
    width: 100%;
    background-color: #018080;
    padding: 5%;
    padding-bottom: 2%;
    align-items: center;
    text-align: center;
}

.containerhowcuatro {
    height: auto;
    width: 100%;
    background-color: #018080;
    padding: 0%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    text-align: center;
}


.containerhowcinco {
    height: auto;
    width: 100%;
    background-color: #018080;
    padding: 0%;
    padding-bottom: 2%;
    padding-top: 2%;
    align-items: center;
    text-align: center;
}



.containerhowdos {
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    text-align: justify;
    padding: 3%;
}

#imghow {
    border-radius: 20px;
    align-items: center;
    text-align: center;
    height: 125px;
}

#vision_mision{
    margin-bottom: 50px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}


/**** letra+******/

.title{
    padding: 40px 0px;
    text-align: center;
    align-items: center;
}

.title h1{
    font-size: 25px;
}

#sombra{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);

}
.card6{
    margin: 20px 7px;
    background-color: #009AA4;
}

.card1{
    margin: 20px 7px;
    background-color: #E2E2E2;
    justify-content: center;
}

.card2{
    margin: 20px 7px;
    background-color:#c6ebf1;
    justify-content: center;
}

.card6 a{
    background-color: #1D4347;
}

#color{
    background-color: #1D4347;
}

#color a{
    color: #E2E2E2;
    text-decoration: none;

}

#color a:hover{
    color: orange;
    text-decoration: none;
}

#color2 a:hover{
    color: orange;
    text-decoration: none;
}


#color4 h4:hover{
    color: orange;
    text-decoration: none;
}

.card-body h5{
    color:#312C2C ;
}

.card-body p{
    color: #A2CFEB;
}

#borde{
    border-style: solid;
    border-color:#389ca4;
    border-width: 1px;
}

.card6:hover{
    /*****box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);*****/
    transform: translateY(-5%);
    transition: all 300ms ease;
}

#boton{
    text-align: center;
    padding: 40px 0px;
    
    
}

#boton a{
    text-align: center;
    text-decoration: none;
    background-color: #1D4347;
    
}

#colorb{
    background-color: #1D4347;
    color: #E2E2E2;

}

#boton a:hover{
    color: orange;
    text-decoration: none;

}

#vende{
    height: 200px;
    max-width: 100%;
}

#vende1{
    height: 80px;
    max-width: 100%;
}

#pagina a{
    color:#009AA4;
}

#pagina{
    align-items: center;
    justify-content: center;
}


.card1{
    display: flex;
}

.phones h6{
    padding-top: 55px;
}

#imgj{
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#letrasc h5{
    text-align: center;
}

img{
	max-width: 100%;
}
.gallery{
	padding: 30px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

#fotos{
    margin-right: 70px;
}

.card66ñ{
    background-color: #018080;
}

.card66 h5{
    color: white;
}
.gallery-item{
    max-width: 400px;
}

