<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo_privado.css">
    <title>MUNEG S.A C.V</title>

</head>



<body>
    <!-- Header Privado -->
    <header>
        <nav class="navbar fixed-top navbar-light " id="navcolor">
            <div class="container-fluid">
                <div id="con">
                    <a class="navbar-brand" href="#"><img src="../../resources/img/iconos_navbar/logo.png" id="imgnav"
                            usemap="#home"></a>
                    <!-- Mapeando la imagen -->
                    <map name="home">
                        <area shape="rect" coords="0,0,311,98" href="pagina_principal.html">
                    </map>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><img src="../../resources/img/iconos_navbar/menu_30px.png"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <!-- Opciones del menu, privada -->
                    <div class="offcanvas-body" id="fondo">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_categoria.html"><img
                                        src="../../resources/img/iconos_navbar/category_30px.png">Gestion
                                    Categoria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_propiedad.html"><img
                                        src="../../resources/img/iconos_navbar/rent_30px.png">Gestion Propiedad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_propietario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    Propietario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_inquilino.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    Inquilino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_empleado.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion Empleado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_usuario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion Usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_contrato.html"><img
                                        src="../../resources/img/iconos_navbar/contract_30px.png">Gestion
                                    Contrato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_factura.html"><img
                                        src="../../resources/img/iconos_navbar/bill_30px.png">Gestion
                                    Factura</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_reportes.html"><img
                                        src="../../resources/img/iconos_navbar/system_report_30px.png">Gestion
                                    Reportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_acabado.html"><img
                                        src="../../resources/img/iconos_navbar/modern_art_30px.png">Gestion
                                    de Tipo Acabado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_empleado.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    de Tipo Empleado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_inquilino.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    de Tipo Inquilino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_propiedad.html"><img
                                        src="../../resources/img/iconos_navbar/rent_30px.png">Gestion
                                    de Tipo Propiedad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_propietario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    de Tipo Propietario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_usuario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    de Tipo Usuario</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid" id="encabezado">
            <h1>GESTIÓN DE FACTURA</h1>
        </div>
    </header>

    <main>
        <!-- Searchbar -->
        <div class="container-fluid" id="busqueda">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Búsqueda de Datos" aria-label="Search">
                <a class="nav-link" href="#"><img src="../../resources/img/iconos_navbar/search_24px.png"></a>
            </form>
        </div>

        <!-- Botones de SCRUD, actualizar y agregar -->
        <div class="container-fluid" id="opciones">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" id="btnmenu" data-bs-toggle="modal"
                    data-bs-target="#agregar"><a class="nav-link" href="#"><img
                            src="../../resources/img/iconos_formularios/agregar_26px.png"></a></button>
            </div>
        </div>

        <!-- Tabla de Datos -->
        <div class="container-fluid" id="tabla_datos">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Dirección</th>
                        <th>SubTotal</th>
                        <th>IVA</th>
                        <th>Venta Gravada</th>
                        <th>Fecha</th>
                        <th>Inquilino</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody id="tbody-Factura">

                </tbody>
            </table>
        </div>

        <!-- Modal de AGREGAR REGISTRO-->
        <div class="modal fade" id="agregar" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title">Agregar Factura</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario de Insert-->
                    <form method="post" id="insert-form">
                        <div class="modal-body" id="formModal">
                            <div class="row">
                                <div class="col">
                                    <label for="factura" class="form-label">Código de Factura</label>
                                    <input type="text" class="form-control" id="factura" name="codigo_factura"
                                        placeholder="Escriba el número de su factura" required>

                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea id="descripcion" name="descripcion" rows="4" class="form-control"
                                        placeholder="Escriba la descripción de factura" required></textarea>

                                    <label for="direccion" class="form-label">Dirección</label>
                                    <textarea id="direccion" name="direccion" rows="4" class="form-control"
                                        placeholder="Escriba la de dirección de factura" required></textarea>
                                </div>
                                <div class="col">
                                    <label for="subtotal" class="form-label">Subtotal</label>
                                    <input type="number" class="form-control" id="subtotal" name="subtotal"
                                        placeholder="Escriba de SubTotal" required>

                                    <label for="iva" class="form-label">IVA</label>
                                    <input type="number" class="form-control" id="IVA" name="IVA" placeholder="IVA"
                                        required>

                                    <label for="venta_gravada" class="form-label">Venta grabada</label>
                                    <input type="text" class="form-control" id="venta_gravada" name="venta_gravada"
                                        placeholder="Escriba la venta grabada" required>

                                    <label for="fecha_emision" class="form-label">Fecha de emisión</label>
                                    <input type="date" class="form-control" id="fecha_emision" name="fecha_emision"
                                        required>

                                    <label for="id_inquilino" class="form-label">Inquilino</label>
                                    <select onchange="seleccionarInquilino()" id="id_inquilino" name="id_inquilino"
                                        class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" id="opcionesModal">
                                <button type="submit" class="btn btn-primary" id="btnmenu"><a class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/agregar_26px.png"></a></button>
                                <button type="button" class="btn btn-primary" id="btnmenu" data-bs-dismiss="modal"><a
                                        class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/cerrar_26px.png"></a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de ACTUALIZAR REGISTRO -->
        <div class="modal fade" id="actualizar" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="actualiar">Actualizar Factura</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario de Update-->
                    <form method="post" id="update-form">
                        <div class="modal-body" id="formModal">
                            <div class="row">
                                <div class="col">
                                    <label for="factura_update" class="form-label">Código de Factura</label>
                                    <input type="text" class="form-control" id="codigo_factura_update"
                                        name="codigo_factura_update" required>

                                    <label for="descripcion" class="form-label">Descripción</label>
                                    <textarea id="descripcion_update" name="descripcion_update" rows="4"
                                        class="form-control" required></textarea>

                                    <label for="direccion_update" class="form-label">Dirección</label>
                                    <textarea id="direccion_update" name="direccion_update" rows="4"
                                        class="form-control" required></textarea>
                                </div>
                                <div class="col">
                                    <label for="subtotal_update" class="form-label">Subtotal</label>
                                    <input type="number" class="form-control" id="subtotal_update"
                                        name="subtotal_update" required>

                                    <label for="iva_update" class="form-label">IVA</label>
                                    <input type="number" class="form-control" id="IVA_update" name="IVA_update"
                                        required>

                                    <label for="venta_grabada_update" class="form-label">Venta grabada</label>
                                    <input type="text" class="form-control" id="venta_gravada_update"
                                        name="venta_gravada_update" required>

                                    <label for="fecha_emision_update" class="form-label">Fecha de emisión</label>
                                    <input type="date" class="form-control" id="fecha_emision_update"
                                        name="fecha_emision_update" required>

                                    <label for="id_inquilino" class="form-label">Inquilino</label>
                                    <select onchange="seleccionarInquilino()" id="id_inquilino_update"
                                        name="id_inquilino_update" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" id="opcionesModal">
                                <button type="submit" class="btn btn-primary" id="btnmenu"><a class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/agregar_26px.png"></a></button>
                                <button type="button" class="btn btn-primary" id="btnmenu" data-bs-dismiss="modal"><a
                                        class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/cerrar_26px.png"></a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de ELIMINAR -->
        <div class="modal fade" id="eliminar" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabe3">Confirmar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Desea Eliminar la información de este registro?
                    </div>
                    <!-- Formulario de Update -->
                    <form method="post" id="delete-form">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnmenu"
                                data-bs-dismiss="modal">Volver</button>
                            <button type="submit" class="btn btn-primary" id="btnmenu">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de ELIMINAR REALIZADO -->
        <div class="modal fade" id="eliminado" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabel4">Eliminado con éxito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        El registro se ha eliminado con éxito.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="btnmenu">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de PROCESO REALIZADO -->
        <div class="modal fade" id="proceso_exito" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabel4">Proceso exitoso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Se han guardado los datos existosamente.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="btnmenu">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-white  pt-5 pb-4" id="Segundofooter">
        <div class="container-fluid">

        </div>
    </footer>

    <!-- Activando Bootstrap desde JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../../controller/privada/factura.js"></script>


</body>

<footer>


</footer>

</html>