<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo_privado.css">
    <title>MUNEG S.A C.V</title>
</head>



<body>
    <!-- Header Privado -->
    <header>
        <nav class="navbar fixed-top navbar-light " id="navcolor">
            <div class="container-fluid">
                <div id="con">
                    <a class="navbar-brand" href="#"><img src="../../resources/img/iconos_navbar/logo.png" id="imgnav"
                            usemap="#home"></a>
                    <!-- Mapeando la imagen -->
                    <map name="home">
                        <area shape="rect" coords="0,0,311,98" href="pagina_principal.html">
                    </map>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><img src="../../resources/img/iconos_navbar/menu_30px.png"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <!-- Opciones del menu, privada -->
                    <div class="offcanvas-body" id="fondo">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_categoria.html"><img
                                        src="../../resources/img/iconos_navbar/category_30px.png">Gestion
                                    Categoria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_propiedad.html"><img
                                        src="../../resources/img/iconos_navbar/rent_30px.png">Gestion Propiedad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_propietario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    Propietario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_inquilino.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion
                                    Inquilino</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_empleado.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion Empleado</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_usuario.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion Usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_cliente.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Gestion Cliente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_contrato.html"><img
                                        src="../../resources/img/iconos_navbar/contract_30px.png">Gestion
                                    Contrato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_factura.html"><img
                                        src="../../resources/img/iconos_navbar/bill_30px.png">Gestion
                                    Factura</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_reportes.html"><img
                                        src="../../resources/img/iconos_navbar/system_report_30px.png">Gestion
                                    Reportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gestion_tipo_acabado.html"><img
                                        src="../../resources/img/iconos_navbar/modern_art_30px.png">Gestion
                                    de Tipo Acabado</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid" id="encabezado">
            <h1>GESTIÓN INQUILINO</h1>
        </div>
    </header>
    <main>
        <!-- Searchbar -->
        <div class="container-fluid" id="busqueda">
            <form class="d-flex" method="post" id="search-bar">
                <input class="form-control me-2" name="search" placeholder="Búsqueda de datos por apellido"
                    aria-label="Search" required minlength="2" maxlength="20">
                <button class="btn" type="submit"><img src="../../resources/img/iconos_navbar/search_24px.png"></button>
            </form>
        </div>
        <!-- Botones de SCRUD, actualizar y agregar -->
        <div class="container-fluid d-flex justify-content-between" id="opciones">
            <a class="btn" id="button_ver_mas" href="gestion_tipo_inquilino.html">Tipo Inquilino</a>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" id="btnmenu" data-bs-toggle="modal"
                    data-bs-target="#agregar"><a class="nav-link" href="#"><img
                            src="../../resources/img/iconos_formularios/agregar_26px.png"></a></button>
            </div>
        </div>

        <!-- Tabla de Datos -->
        <div class="container-fluid" id="tabla_datos">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Número Telefono</th>
                        <th>Correo Electrónico</th>
                        <th>Fecha Nacimiento</th>
                        <th>Genero</th>
                        <th>DUI</th>
                        <th>NIT</th>
                        <th>NRC</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody id="tbody-tipoInquilino">

                </tbody>
            </table>
        </div>
        <!-- Modal de ACTUALIZAR REGISTRO-->
        <div class="modal fade" id="actualizar" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="actualizarformLabel">Agregar Inquilino</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Formulario de UPDATE -->
                    <form method="post" id="update_form">
                        <div class="modal-body" id="formModal">
                            <div class="row">
                                <div class="col">
                                    <label for="nombre_inquilino_update" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_inquilino_update"
                                        name="nombre_inquilino" required minlength="2" maxlength="50">

                                    <label for="apellido_inquilino_update" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido_inquilino_update"
                                        name="apellido_inquilino" required minlength="3" maxlength="50">

                                    <label for="telefono_update" class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control" id="telefono_update" name="telefono" required
                                        minlength="8" maxlength="13">

                                    <label for="correo_electronico_update" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="correo_electronico_update"
                                        name="correo" required minlength="7" maxlength="75">

                                    <label for="fecha_nacimiento_update" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fecha_nacimiento_update"
                                        name="fecha_nacimiento" required>
                                </div>
                                <div class="col">
                                    <label for="genero_update" class="form-label">Género</label>
                                    <select id="genero_update" name="genero_update" class="form-control" required>
                                        <option value="value1">Masculino</option>
                                        <option value="value2" selected>Femenino</option>
                                    </select>

                                    <label for="dui_update" class="form-label">DUI</label>
                                    <input type="text" class="form-control" id="dui_update" name="dui" required minlength="10"
                                    maxlength="10">

                                    <label for="nit_update" class="form-label">NIT</label>
                                    <input type="text" class="form-control" id="nit_update" name="nit" required maxlength="17" minlength="15">

                                    <label for="nrc_update" class="form-label">NRC</label>
                                    <input type="text" class="form-control" id="nrc_update" name="nrc" minlength="8" maxlength="8">

                                    <label for="tipo_inquilino_i" class="form-label">Tipo de Inquilino</label>
                                    <select id="tipo_inquilino_i" name="tipo_inquilino" class="form-control">

                                    </select>

                                </div>
                                <div class="col">
                                    <label for="estado_inquilino_update" class="form-label">Estado del Inquilino</label>
                                    <select id="estado_inquilino_i" name="estado_inquilino_update" class="form-control">

                                    </select>

                                    <label for="upload_image" class="form-label">Imagen</label>
                                    <a class="btn" name="archivo" id="upload_image">
                                        <input name="archivo" type="file"
                                            class="form-control form-control-sm form-Input-Style">
                                        <img src="../../resources/img/iconos_formularios/download_100px.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" id="opcionesModal">
                                <button type="submit" class="btn btn-primary" id="btnmenu"><a class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/agregar_26px.png"></a></button>
                                <button type="button" class="btn btn-primary" id="btnmenu" data-bs-dismiss="modal"><a
                                        class="nav-link"><img
                                            src="../../resources/img/iconos_formularios/cerrar_26px.png"></a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de AGREGAR REGISTRO -->
        <div class="modal fade" id="agregar" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title">Actualizar Inquilino</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Formulario de INSERT -->
                    <form method="post" id="insert_form">
                        <div class="modal-body" id="formModal">
                            <div class="row">
                                <div class="col">
                                    <label for="nombre_inquilino_update" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_inquilino_update"
                                        name="nombre_inquilino" required minlength="2" maxlength="50">

                                    <label for="apellido_inquilino_update" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido_inquilino_update"
                                        name="apellido_inquilino" required minlength="3" maxlength="50">

                                    <label for="telefono_update" class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control" id="telefono_update" name="telefono" required
                                        minlength="8" maxlength="13">

                                    <label for="correo_electronico_update" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="correo_electronico_update"
                                        name="correo" required minlength="7" maxlength="75">

                                    <label for="fecha_nacimiento_update" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" id="fecha_nacimiento_update"
                                        name="fecha_nacimiento" required>
                                </div>
                                <div class="col">
                                    <label for="genero_update" class="form-label">Género</label>
                                    <select id="genero_update" name="genero_update" class="form-control" required>
                                        <option value="value1">Masculino</option>
                                        <option value="value2">Femenino</option>
                                    </select>

                                    <label for="dui_update" class="form-label">DUI</label>
                                    <input type="text" class="form-control" id="dui_update" name="dui" required minlength="10"
                                    maxlength="10">

                                    <label for="nit_update" class="form-label">NIT</label>
                                    <input type="text" class="form-control" id="nit_update" name="nit" required maxlength="17" minlength="15">

                                    <label for="nrc_update" class="form-label">NRC</label>
                                    <input type="text" class="form-control" id="nrc_update" name="nrc" minlength="8" maxlength="8">

                                    <label for="tipo_inquilino_u" class="form-label">Tipo de Inquilino</label>
                                    <select id="tipo_inquilino_u" name="tipo_inquilino" class="form-control">

                                    </select>
                                </div>
                                <div class="col">
                                    <label for="estado_inquilino_update" class="form-label">Estado del Inquilino</label>
                                    <select id="estado_inquilino_u" name="estado_inquilino_update" class="form-control">

                                    </select>

                                    <label for="upload_image" class="form-label">Imagen</label>
                                    <a class="btn" name="archivo" id="upload_image">
                                        <input name="archivo" type="file"
                                            class="form-control form-control-sm form-Input-Style">
                                        <img src="../../resources/img/iconos_formularios/download_100px.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group" role="group" id="opcionesModal">
                                <button type="submit" class="btn btn-primary" id="btnmenu"><a class="nav-link"><img
                                            src="../img/iconos_formularios/editar_26px.png"></a></button>
                                <button type="button" class="btn btn-primary" id="btnmenu"><a class="nav-link"><img
                                            src="../img/iconos_formularios/cerrar_26px.png"></a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de ELIMINAR -->
        <div class="modal fade" id="eliminar" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabe3">Confirmar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Desea Eliminar la información de este registro?
                    </div>
                    <!-- Formulario de Update -->
                    <form method="post" id="delete_form">
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="btnmenu">Volver</button>
                            <button type="submit" class="btn btn-primary" id="btnmenu">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal de ELIMINAR REALIZADO -->
        <div class="modal fade" id="eliminado" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabel4">Eliminado con éxito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        El registro se ha eliminado con éxito.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="btnmenu">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de PROCESO REALIZADO -->
        <div class="modal fade" id="proceso_exito" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" id="formHeader">
                        <h5 class="modal-title" id="exampleModalToggleLabel4">Proceso exitoso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Se han guardado los datos existosamente.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="btnmenu">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-white  pt-5 pb-4" id="Segundofooter">
        <div class="container-fluid">

        </div>
    </footer>

    <!-- Activando Bootstrap desde JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../../controller/privada/inquilino.js"></script>
</body>

<footer>


</footer>

</html>