<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo_publico.css">
    <title>MUNEG</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top  navbar-light" id="navcolor">
          <div class="container-fluid">
            <div id="con">
              <a class="navbar-brand" href="#"><img src="../../resources/img/iconos_navbar/logo.png" id="imgnav"
                  usemap="#home"></a>
              <!-- Mapeando la imagen -->
              <map name="home">
                <area shape="rect" coords="0,0,311,98" href="index.html">
              </map>
              <a class="navbar-brand" id="contactenos" href="#">CONTACTENOS: <img
                  src="../../resources/img/iconos_navbar/phone_30px.png" id="celimg">
                2278-9879</a>
            </div>
            <ul class="nav" id="menu_parametro">
              <h6 id="parametro_title">
                DEPARTAMENTO
              </h6>
              <form method="post" id="search_bar">
                <select onchange="guardarDepartamento()" id="departamento" name="departamento">
    
                </select>
              </form>
              <h6 id="parametro_title">
                MUNICIPIO
              </h6>
              <form method="post" id="search_bar">
                <select onchange="guardarMunicipio()" id="municipio" name="municipio">
    
                </select>
              </form>
              <h6 id="parametro_title">
                TIPO DE PROPIEDAD
              </h6>
              <form method="post" id="search_bar">
                <select onchange="guardarTipoPropiedad()" id="tipo_propiedad" name="tipo_propiedad">
    
                </select>
              </form>
              <h6 id="parametro_title">
                CATEGORIA
              </h6>
              <form method="post" id="search_bar">
                <select onchange="guardarCategoria()" id="categoria" name="categoria">
    
                </select>
              </form>
            </ul>
    
    
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
              <span><img src="../../resources/img/iconos_navbar/menu_30px.png"></span>
            </button>
    
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body" id="fondo">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                    <a class="nav-link" href="sobre_nosotros.html"><img
                        src="../../resources/img/iconos_navbar/person_30px.png">Sobre
                      Nostros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="preguntas_frecuentes.html"><img
                        src="../../resources/img/iconos_navbar/poll_30px.png">Preguntas
                      Frecuentes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contactenos.html"><img
                        src="../../resources/img/iconos_navbar/contact_30px.png">Contactenos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="propiedades_alquiler.html"><img
                        src="../../resources/img/iconos_navbar/rent_30px.png">Alquiler de
                      Inmueble</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="propiedades_venta.html"><img
                        src="../../resources/img/iconos_navbar/land_sales_30px.png">Venta de
                      Inmueble</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="confianos_venta_alquiler.html"><img
                        src="../../resources/img/iconos_navbar/sale_30px.png">Alquila tu
                      Inmueble</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="confianos_venta_alquiler.html"><img
                        src="../../resources/img/iconos_navbar/sale_30px.png">Vende tu
                      Inmueble</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>

    <!--Inicio del cuerpo-->
    <main>
        <!--Información alquilar-->
        <section>
            <div class="containeralq">
                <div class="row">
                    <div class="col">
                        <h5>Ponga en alquiler su propiedad con nosotros, le ofrecemos los servicios de la más alta
                            calidad
                        </h5>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="textalq">PONGA EN VENTA O ALQUILER SU CASA, YA!</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--Segmento de planteaminento del problema-->
        <section>
            <div class="containeralqdos">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-3 text-center">
                        <img src="../../resources/img/miscelaneos/venta.jpg" id="imgvision" alt="">
                    </div>
                    <div class="col-12 col-sm-9 textacerca">
                        <h5>Como propietario de inmueble, uno de los
                            mayores dolores de cabeza es llegar a tener
                            un inquilino problemático, que incumpla con
                            el pago y que se niegue a desocupar el inmueble.</h5>

                        <h5>Esto significa no solo dejar de percibir ingresos
                            sino también incurrir en costos legales y de tiempo
                            al tener iniciar una demanda judicial.</h5>

                        <h5>Este es el riesgo en que se incurre si no se evalúa
                            a los candidatos y se le alquile la propiedad
                            al primero que llegue.</h5>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="containeralq">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <h5>Somos tu mejor opción para la venta de tu propiedad, te ofrecemos el servicio de la mas alta
                            calidad</h5>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="textalqdos">¿CÓMO LO AYUDAMOS A VENDER O ALQUILAR SU CASA?</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="containertres">
            <div class="containerhow">
                <div class="containerhowdos">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-3 text-center">
                            <img src="../../resources/img/miscelaneos/how.jpg" id="imghow" alt="">
                        </div>
                        <div class="col-12 col-sm-9 textacerca">
                            <h3>Le ayudamos a establecer un precio de mercado</h3>
                            <h5>Como propietario de inmueble, uno de los
                                mayores dolores de cabeza es llegar a tener
                                un inquilino problemático, que incumpla con
                                el pago y que se niegue a desocupar el inmueble.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!--Información de los servicios que se ofrecen-->
            <div class="containerhowcuatro">
                <div class="containerhowdos">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-sm-3 text-center">
                            <img src="../../resources/img/miscelaneos/how.jpg" id="imghow" alt="">
                        </div>
                        <div class="col-12 col-sm-9 textacerca">
                            <h3>Investigamos detalladamente al candidato</h3>
                            <h5>El paso más importante. No nos limitamos únicamente a corroborar información,
                                sino además a evaluar aspectos como el récord crediticio e ingresos.
                                Con ello podemos conocer su capacidad de pago y predecir su estabilidad
                                y responsabilidad cuando se le arriende la propiedad.</h5>
                        </div>
                    </div>
                </div>
                <div class="containerhowcinco">
                    <div class="containerhowdos">
                        <div class="row justify-content-md-center">
                            <div class="col-12 col-sm-3 text-center">
                                <img src="../../resources/img/miscelaneos/how.jpg" id="imghow" alt="">
                            </div>
                            <div class="col-12 col-sm-9 textacerca">
                                <h3>Contamos con los medios adecuados para llegar al perfil</h3>
                                <h5>Para poder lograr el objetivo es necesario hacer una promoción a través de los
                                    canales
                                    adecuados,
                                    a fin de atraer la mayor cantidad de candidatos posible en el menor tiempo</h5>
                            </div>
                        </div>
                    </div>
                    <div class="containerhowcinco">
                        <div class="containerhowdos">
                            <div class="row justify-content-md-center">
                                <div class="col-12 col-sm-3 text-center">
                                    <img src="../../resources/img/miscelaneos/how.jpg" id="imghow" alt="">
                                </div>
                                <div class="col-12 col-sm-9 textacerca">
                                    <h3>Le brindamos herramientas legales</h3>
                                    <h5>Hemos desarrollado modelos de contrato e instrumentos que le permiten tener las
                                        herramientas
                                        legales necesarias para asegurar el pago del canon.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
        <section>
            <div class="container">
                <br>
                <div class="row justify-content-md-center text-center">
                    <div class="col-12 col-sm-6 ">
                        <h2>LE AYUDAMOS A ENCONTRAR
                            A SU NUEVO INQUILINO</h2>
                    </div>
                    <div class="col-12 col-sm-4 text-center">
                        <h3 class="textcel">LLAMA YA AL</h3>
                        <img src="../../resources/img/iconos_navbar/cel.png" alt="" height="75px">
                    </div>
                </div>
            </div>
        </section>
        <br>

        <!--Final de sección para alquilar-->
        <div class="containeralqtres">
            <br>
            <div class="row justify-content-md-center text-center">
                <div class="col-12 col-sm-4 ">
                    <h2>¡Confíenos su propiedad!</h2>
                </div>
                <div class="col-12 col-sm-2 text-center">
                    <img src="../../resources/img/miscelaneos/exito.png" alt="" height="125px">
                </div>
            </div>
        </div>

        <!--Segundo footer Footer-->
        <footer class="text-white  pt-5 pb-4" id="Segundofooter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 text-justify" id="color4">
                        <h1 id="Encabezado_footer">MUNEG</h1>
                        <p>"HACEMOS DE LA VENTA O ALQUILER DE SU PROPIEDAD UN PROCESO FÁCIL Y RÁPIDO, GARANTIZANDO LA
                            SEGURIDAD PARA
                            USTED Y SU FAMILIA"</p>
                        <a href="sobre_nosotros.html" id="enlaces_footer">
                            <h4>Conozca sobre nosotros</h4>
                        </a>
                        <a href="terminos_condiciones.html" id="enlaces_footer">
                            <h4>Términos y condiciones</h4>
                        </a>
                    </div>
                    <div class="col-lg-4" id="color2">
                        <h1 id="Encabezado_footer">Encuentra Propiedades</h1>
                        <a href="propiedades_venta.html" id="enlaces_footer">
                            <h4>>Casas en Venta</h4>
                        </a>
                        <a href="propiedades_alquiler.html" id="enlaces_footer">
                            <h4>>Casas en Alquiler</h4>
                        </a>
                        <a href="propiedades_venta.html" id="enlaces_footer">
                            <h4>>Comercios en Venta</h4>
                        </a>
                        <a href="propiedades_alquiler.html" id="enlaces_footer">
                            <h4>>Comercios en Alquiler</h4>
                        </a>
                    </div>
                    <div class="col-lg-4 ">
                        <h1 id="Encabezado_footer">Recibe Ofertas por Correo:</h1>
                        <div class="row">
                            <div class="col-2">
                                <img src="../../resources/img/iconos_navbar/gmail.png">
                            </div>
                            <div class="col-10">
                                <p>Ingrese su nombre:</p>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Ingrese su nombre">
                            </div>
                            <div class="col-12">
                                <p>Ingrese su correo electronico:</p>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Ingrese el correo">
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <a class="btn">Enviar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <!-- JavaScript de Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>


</html>