<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo_publico.css">
    <title>MUNEG</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top  navbar-light" id="navcolor">
            <div class="container-fluid">
                <div id="con">
                    <a class="navbar-brand" href="#"><img src="../../resources/img/iconos_navbar/logo.png" id="imgnav"
                            usemap="#home"></a>
                    <!-- Mapeando la imagen -->
                    <map name="home">
                        <area shape="rect" coords="0,0,311,98" href="index.html">
                    </map>
                    <a class="navbar-brand" id="contactenos" href="#">CONTACTENOS: <img
                            src="../../resources/img/iconos_navbar/phone_30px.png" id="celimg">
                        2278-9879</a>
                </div>
                <ul class="nav" id="menu_parametro">
                    <h6 id="parametro_title">
                        DEPARTAMENTO
                    </h6>
                    <form method="post" id="search_bar">
                        <select onchange="guardarDepartamento()" id="departamento" name="departamento">

                        </select>
                    </form>
                    <h6 id="parametro_title">
                        MUNICIPIO
                    </h6>
                    <form method="post" id="search_bar">
                        <select onchange="guardarMunicipio()" id="municipio" name="municipio">

                        </select>
                    </form>
                    <h6 id="parametro_title">
                        TIPO DE PROPIEDAD
                    </h6>
                    <form method="post" id="search_bar">
                        <select onchange="guardarTipoPropiedad()" id="tipo_propiedad" name="tipo_propiedad">

                        </select>
                    </form>
                    <h6 id="parametro_title">
                        CATEGORIA
                    </h6>
                    <form method="post" id="search_bar">
                        <select onchange="guardarCategoria()" id="categoria" name="categoria">

                        </select>
                    </form>
                </ul>


                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><img src="../../resources/img/iconos_navbar/menu_30px.png"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" id="fondo">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="sobre_nosotros.html"><img
                                        src="../../resources/img/iconos_navbar/person_30px.png">Sobre
                                    Nostros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="preguntas_frecuentes.html"><img
                                        src="../../resources/img/iconos_navbar/poll_30px.png">Preguntas
                                    Frecuentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contactenos.html"><img
                                        src="../../resources/img/iconos_navbar/contact_30px.png">Contactenos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="propiedades_alquiler.html"><img
                                        src="../../resources/img/iconos_navbar/rent_30px.png">Alquiler de
                                    Inmueble</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="propiedades_venta.html"><img
                                        src="../../resources/img/iconos_navbar/land_sales_30px.png">Venta de
                                    Inmueble</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="confianos_venta_alquiler.html"><img
                                        src="../../resources/img/iconos_navbar/sale_30px.png">Alquila tu
                                    Inmueble</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="confianos_venta_alquiler.html"><img
                                        src="../../resources/img/iconos_navbar/sale_30px.png">Vende tu
                                    Inmueble</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Carousel de arriba -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../resources/img/terminos y condiciones/te1.png"
                        alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../resources/img/terminos y condiciones/te2.png"
                        alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../resources/img/terminos y condiciones/te3.png"
                        alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
        <!--Inicio de sección de términos y condiciones-->
        <section>
            <div class="container">
                <div class="row justify-content-md-center textterm">
                    <div class="col">
                        <h5 id="partesTerm">1. Aceptación de Términos de Uso </h5>
                        <p>
                            Cada vez que usted utiliza o accede a esta Página Web, está aceptando ser limitado por estos
                            Términos de Uso y según la enmienda prevista y de tiempo en tiempo con o sin previo aviso.
                            Además, si usted está utilizando un servicio particular en o con esta Página Web, usted
                            estará de acuerdo con cualquier regla o pauta aplicable a esos servicios y ellas serán
                            incorporadas en estos Términos de Uso. Vea por favor nuestra política de privacidad, que
                            está incorporada en estos Términos de Uso en referencia.</p>

                        <h5 id="partesTerm">2. Nuestro servicio</h5>
                        <p>Usted conviene que los dueños de esta Página Web se reserven exclusivamente el derecho y
                            puedan, en cualquier momento con o sin aviso y sin ninguna responsabilidad hacia usted, a
                            modificar o descontinuar el uso esta Página Web y sus servicios o suprimir los datos que
                            usted proporcione, temporal o permanentemente. No tendremos ninguna responsabilidad por la
                            puntualidad, la cancelación, la falta de almacenaje, la inexactitud, o la entrega incorrecta
                            de datos o información</p>


                        <h5 id="partesTerm">3. Sus responsabilidades y obligaciones de registro</h5>
                        <p>Para utilizar esta Página Web, usted debe registrarse , y proporcionar información veraz
                            cuando sea solicitada y debe ser mayor de dieciocho (18) años. Al registrarse, usted acepta
                            explícitamente nuestros Términos de Uso y Condiciones de Servicio y que estos pueden ser
                            modificados en cualquier momento por nosotros.

                        </p>

                        <h5 id="partesTerm">4. Condiciones del consentimiento y eliminación de cuenta</h5>
                        <p> Los usuarios registrados que deseen la eliminación de su cuenta, pueden requerirlo vía
                            Contactanos por email. Este proceso puede tardar entre 3 y 5 días hábiles. En casos de
                            emergencia, la eliminación de su cuenta puede ser solicitada telefónicamente llamando a los
                            teléfonos. Es importante recalcar que en caso de eliminación de cuenta, muneg.html
                            despublicará la información
                            del usuario y sus anuncios de su red de sitios, sin embargo, la empresa no controla ni es
                            responsable por los listados publicados en otros buscadores como Google, Yahoo, Bing ni
                            cualquier otro sitio no relacionado en muneg.html
                        </p>

                        <h5 id="partesTerm">5. Su conducta</h5>
                        <p> Usted acuerda que toda la información o datos de cualquier clase, ya sea el texto, el
                            software, el código, la música o el sonido, las fotografías, los gráficos, el vídeo u otros
                            materiales (denominado "contenido"), proporcionado pública o privadamente, serán
                            responsabilidad única del titular de la cuenta. Usted acuerda que nuestra Página Web puede
                            retirar el contenido que puede ser desagradable u ofensivo. No seremos responsables ante
                            Usted, de ninguna manera, del contenido que aparece en esta Página Web ni de cualquier error
                            u omisión. Usted acuerda explícitamente, al utilizar esta Página Web o cualquier servicio
                            proporcionado, a que usted no:</p>

                        <p>
                            (a) Proporciona ningún contenido o realiza cualquier conducta la cual pueda ser ilegal,
                            amenazante, dañina, abusiva, acosadora, acechadora, torturadora, difamatoria, vulgar,
                            obscena, ofensiva, desagradable, pornográfica, diseñada a interferir o interrumpir el
                            correcto funcionamiento de esta Página Web o cualquier servicio proporcionado, infectado con
                            un virus o cualquier otra rutina de programación destructiva o deletérea, esto dará lugar a
                            responsabilidad civil o criminal, ya sea por violar una ley local, nacional o internacional
                            aplicable;
                        </p>
                        <p>
                            (b) Personifica o falsifica su asociación con cualquier persona o entidad, o forjara o
                            intentara de otra manera encubrir o falsificar el origen de cualquier contenido
                            proporcionado por usted;
                        </p>
                        <p>
                            (c) Va a recoger, tomar, prestar ni difundir cualquier dato sobre o pertenecientes a otros
                            usuarios como fotos, direcciones email, descripción;
                        </p>
                        <p>
                            (d) Proporciona o utiliza esta Página Web y cualquier contenido o servicio, de cualquier
                            manera que implicara el correo de chatarra, el Spam, las cartas de cadena, los esquemas de
                            pirámide, o cualquier otra forma de publicidad desautorizada sin nuestro previo
                            consentimiento por escrito;
                        </p>
                        <p>
                            (e) Proporciona cualquier contenido que pueda dar lugar a nuestra responsabilidad civil o
                            criminal o que pueda constituir o ser considerado una violación de cualquier derecho local,
                            nacional o internacional, incluyendo, pero no ser limitado a las leyes referentes a los
                            derechos reservados, marca registrada, patente, o a los secretos
                        </p>
                        <p>
                            (f) Refrescar, reescribir, re-publicar su anuncio de manera periódica, con la intención de
                            aparecer en la portada o permanecer primero en los listados de los anuncios.
                        </p>
                        <p>
                            (g) No abrir múltiples cuentas (gratis) con el mismo emails, mismo nombre, organización,
                            compañía, logo y/o información de contacto.
                        </p>
                        <p>
                            (h) En los anuncios resaltados, No se permite fotos en formato gif animados
                        </p>
                        <p>
                            (i) No es permitido publicar anuncios clasificados en la categoría incorrecta. Por ejemplo:
                            anunciar un auto en la categoría de bienes raíces.
                        </p>
                        <p>
                            (j) Queda expresamente prohibida la publicación de cualquier anuncio correspondiente a una
                            categoría de anuncios pagados (Bienes Raíces, Autos, Electrónica), dentro de las categorías
                            gratis de muneg.html
                        </p>
                        <p>
                            (k) No está permitido publicar más de un producto por anuncio. (Listado de precios)
                        </p>
                        <p>


                            (l) Las fotos no deben tener otros anuncios insertados, o sobrepuesto, teléfonos, redes
                            sociales, o publicidad del anunciante.
                        </p>
                        <p>
                            (m) En la descripción y título del anuncio, debe colocarse toda la información referente al
                            bien o propiedad anunciada, no se permite publicidad, colocar teléfonos, correos
                            electrónicos, redes sociales, tampoco es permitido usar el espacio para anunciar algo
                            diferente al bien o propiedad que se muestra en venta o alquiler.
                        </p>
                        <p>
                            (n) Los precios colocados deben ser precios reales.
                        </p>
                        <p>
                            (o) No es permitido anunciar propiedades en ubicaciones incorrectas
                        </p>
                        <h5 id="partesTerm">6. Reservación de los derechos</h5>
                        <p>Reservamos todos nuestros derechos, incluyendo pero no limitando a cualesquiera y todos los
                            derechos reservados, marcas registradas, patentes, secretos comerciales, y cualquier otro
                            derecho de propiedad que podamos tener en nuestra Página Web, su contenido, y las mercancías
                            y los servicios que pueden ser proporcionados. El uso de nuestros derechos y nuestras
                            propiedades requiere nuestro consentimiento anteriormente escrito. No estamos proveyendo a
                            usted nuestros derechos poniendo servicios a disposición de usted y usted no tendrá ningún
                            derecho a hacer ningunas aplicaciones comerciales de nuestra Página Web o servicio sin
                            nuestro consentimiento anteriormente escrito.</p>

                        <h5 id="partesTerm">7. Conducta respetuosa</h5>
                        <p>Cualquier y todo cliente o usuario con una conducta no apropiada y que se dirija con el, o
                            acerca de, los agentes, personal, ejecutivos y propietarios de Encuentra24.com de manera
                            irrespetuosa a travez de insultos, gritos, racismo, vulgaridades, amenazas será
                            permanentemente bloqueado de tener todo futuro acceso a su cuenta clasificados, y todo
                            contenido relacionado a tanto para su persona, como la empresa, inmediatamente. Esto incluye
                            comunicaciones de ese tipo por los medios telefónicos, email, chat y reportes de soporte
                            técnico.
                        </p>

                    </div>
                </div>
            </div>
        </section>
        <!--Final de la sección de términos y condiciones-->
        <!--Primer footer Footer-->
        <div class="text-white pt-5 pb-4" id="Primerfooter">
            <div class="container-fluid">
                <!--primer apatado de footer-->
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <img src="../../resources/img/miscelaneos/vende_alquila_casa.png" id="vende">
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="col-12">
                            <a class="navbar-brand" id="contactenos_footer" href="#">CONTACTENOS: <img
                                    src="../../resources/img/iconos_navbar/phone_30px.png">
                                2278-9879</a>
                        </div>
                        <div class="col-12">
                            <img src="../../resources/img/iconos_navbar/Facebook_75px.png">
                            <img src="../../resources/img/iconos_navbar/instagram_circle_75px.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--Segundo footer Footer-->
  <footer class="text-white  pt-5 pb-4" id="Segundofooter">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 text-justify" id="color4">
          <h1 id="Encabezado_footer">MUNEG</h1>
          <p>"HACEMOS DE LA VENTA O ALQUILER DE SU PROPIEDAD UN PROCESO FÁCIL Y RÁPIDO, GARANTIZANDO LA
            SEGURIDAD PARA
            USTED Y SU FAMILIA"</p>
          <a href="sobre_nosotros.html" id="enlaces_footer">
            <h4>Conozca sobre nosotros</h4>
          </a>
          <a href="terminos_condiciones.html" id="enlaces_footer">
            <h4>Términos y condiciones</h4>
          </a>
        </div>
        <div class="col-lg-4" id="color2">
          <h1 id="Encabezado_footer">Encuentra Propiedades</h1>
          <a href="propiedades_venta.html" id="enlaces_footer">
            <h4>>Casas en Venta</h4>
          </a>
          <a href="propiedades_alquiler.html" id="enlaces_footer">
            <h4>>Casas en Alquiler</h4>
          </a>
          <a href="propiedades_venta.html" id="enlaces_footer">
            <h4>>Comercios en Venta</h4>
          </a>
          <a href="propiedades_alquiler.html" id="enlaces_footer">
            <h4>>Comercios en Alquiler</h4>
          </a>
        </div>
        <div class="col-lg-4 ">
          <h1 id="Encabezado_footer">Recibe Ofertas por Correo:</h1>
          <div class="row">
            <div class="col-2">
              <img src="../../resources/img/iconos_navbar/gmail.png">
            </div>
            <div class="col-10">
              <form method="post" id="insert-modal">
                <p>Ingrese su nombre:</p>
                <input type="text" class="form-control" name="nombre_cliente" placeholder="Ingrese su nombre" required
                  minlength="2" maxlength="50">
            </div>
            <div class="col-12">
              <p>Ingrese su correo electronico:</p>
              <input type="email" class="form-control" name="correo" placeholder="Ingrese el correo" required
                minlength="7" maxlength="100">
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#agregado">Enviar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!--Modal de agregado-->
  <div class="modal fade" id="agregado" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" id="formHeader">
          <h5 class="modal-title" id="exampleModalToggleLabe3">Agregado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Su información ha sido guardada con éxito
        </div>
        <!-- Footer del formulario -->
        <form method="post" id="delete_form">
          <div class="modal-footer">
            <button type="" class="btn btn-primary" id="btnmenu">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


    <!-- JavaScript de Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="module" src="../../controller/publica/navbar.js"></script>
    <script type="module" src="../../controller/publica/footer.js"></script>
    <script type="module" src="../../controller/publica/index.js"></script>
</body>

</html>