#navcolor{
    background-color: #2698A2;
}

/*Colores de fondo para los footers*/
#Primerfooter{
    background-color: #1D4347;
    margin-top: 50px;
}
#Segundofooter{
    background-color: #2698A2;
}
/*Tamaño de los logoso de el navegador*/
#imgnav{
height: 60px;

}

#cotones{
   display: flex;
   align-items: center;
}

#celimg{
    height: 20px;

}

/*Colores de los menus desplegables*/
#menu1 a{
  color: aliceblue;
}

#menu1 ul a{
    color: #2698A2;
  }

  /*Texto contactenos*/
#contactenos{
    color: #A1A39F;
    font-size: 20px;
}

#contactenos_footer{
    color: #2BCBD9;
    font-size: 25px;  
}
/*Texto del encabezado segundo footer*/
#Encabezado_footer{
    color: #1D4347;
}
/*Texto de los enlaces segundo footer*/
#enlaces_footer{
    color: white;
    text-decoration: none;
}

/*Boton enviar en Segundo footer*/
#Segundofooter .btn{
    background-color: #A6D1D8;
    margin-top: 20px;
}

#le{
    text-align: center;
    display: flex;
    font-size: 10px;
}

  /*Fondo de la pagina*/
#fondo{
    background-color: #E2E2E2;
}


/* pagina publica "detalleInmueble"  */

#housePrincipalImage {
    margin: 5%;
    margin-right: 1%;
    margin-left: 10%;
}

#houseDescriptionsContainer {
    margin-top: 1%;
    width: 100%;
}

#priceText {
    margin-top: 3%;
}

#buttonBuyNow {
    margin-top: 2.5%;
    width: 20%;
    height: 20%;
}

.carrouselContainer{
    width: 20%;
    height: 20%;
}

.cardDescription {
    background-color: #389ca4;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}
